.container{
    display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  border-radius: 30px;
  background:floralwhite;
  padding: 30px;
  min-width: 500px;
  min-height: 380px;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}