.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  min-width: 500px;
  min-height: 380px;
}

.very-cool-margin {
  margin-bottom: 10px;
}

.image-container img {
  width: 300px;
  height: 240px;
  min-width: 300px;
  min-height: 240px;
}

.logo-img {
  position: absolute;
  z-index: 9;
  margin: -150px;
}

.outterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  background: floralwhite;
  padding: 30px;
  min-width: 500px;
  min-height: 380px;
}

.block {
  border-radius: 15px;
  margin: 30px;
  padding: 15px;
  background-color: rgb(221, 230, 192);
  width: 100%;
}

.buttonHolder {
  align-items: stretch;
  border-radius: 7px;
  width: 35%;
}

.btn {
  border-radius: 7px;
  width: 150px;
  font-size: large;
  text-shadow: 1px 1px 1px #000;
}

.register-link {
  font-size: large;
}