.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 500px;
  min-height: 380px;
  /* background-repeat: repeat; */
}

.very-cool-margin {
  margin-bottom: 10px;
}

.container img{
  width: 300px;
  height: 240px;
  min-width: 300px;
  min-height: 240px;
}

.logo-img{
  z-index: 9;
  margin: -90px;
}

.outterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  background:floralwhite;
  padding: 30px;
  min-width: 500px;
  min-height: 380px;
  /* width: 32%;
  height: 68%; */
  /* margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10%;
  left: 33% */
}

.block {
  border-radius: 15px;
  /* width: 80%; */
  /* position: absolute;
  top:60%;
  left: 50%; */
  margin: 30px;
  padding: 15px;
  background-color:rgb(221, 230, 192);
  width: 100%;
  /* flex-grow: 1; */
}

.buttonHolder{
  align-items: stretch;
  border-radius: 7px;
  width: 35%;
}

.btn {
  /* height: 7%;
  width: 20%; */
  /* position: absolute;
  top: 83%;
  left: 50%; */
  border-radius: 7px;
  width: 150px;
  font-size:large;
  text-shadow: 1px 1px 1px #000;
}

.register-link{
  /* width: 50%; */
  /* position: absolute;
  top: 93%;
  left: 50%; */
  font-size: large;
}