* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #303030;
    font-family: 'Source Sans Pro', sans-serif;
}

.chat-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start, center;
    align-content: flex-start;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    color: #303030;
    padding: 19px;
}

.chat-block {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
    width: 100%;
    color: #303030;
    background: white;
    min-height: 240px;
}

.chat-header-right {
    display: flex;
    align-items: center;
    align-self: center;
    width: 40px;
    height: 40px;
    display: flex;
}

.chat-header-right i {
    display: inline;
    font-size: 1.2rem;
    height: 100;
    width: 100;
    opacity: 0.4;
}

.sidebar {
    display: flex;
    flex-direction: column;
    /*flex: 5.17;*/
    height: 100%;
    width: 30%;
    min-width: 300px;
}

.header {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #ededed;
    padding: 15px 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-avatar {
    position: relative;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex: 1;
}

.sidebar-chats {
    height: 100%;
    width: 100%;
    min-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-chat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
    min-width: 300px;
}

.sidebar-chat:hover {
    background-color: #f5f5f5;

}


.chat-info {
    margin-left: 15px;
    flex: 10;
}

.chat-info p {
    font-size: 13px;
    line-height: 20px;
    color: gray;

}

.time {
    flex: 1;
}

.time p {
    white-space: nowrap;
    font-size: 13px;
    margin-top: -16px;
    color: gray;

}

/* Message Content*/
.message-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    min-width: 480px;
}

.chat-title {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    margin: 0;
}

.massage-header-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: 15px;
    margin-top: 10px;
}

h4 {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 16px;
    font-weight: 900;
}

p {
    font-size: 13px;
    color: gray;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #b9b3ae;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img,
.chat-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-content {
    display: flex;
    flex-direction: column;
    flex: 5.17;
    background-image: url(Background.jpg);
    background-position: center;
    padding: 20px 80px;
    overflow-y: scroll;
}

.chat-message {
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;

}

.chat-sent {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat-timestamp {
    margin-left: 10px;
    font-size: 10px;
    color: grey;
}

/* message footer */
.message-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
    padding: 10px 10px;
    background-color:#ebebeb;

}

.message-footer i {
    opacity: 0.6;
    font-size: 1.2rem;
    padding: 5px;
}

.sender{
    border: none;
    background-color: white;
}

.sender:active{
    background-color:#ebebeb;
    border-radius: 25px;
}



.message-footer input {
    flex-grow: 20;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.addingVideo{
    display: none;
    

}
/* Dropup Button */
.dropbtn {
    color: white;
    background-color: white;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropup content */
  .btn-group {
    position: relative;
    display: inline-block;
  }
  
  /* Dropup content (Hidden by Default) */
  .dropdown-menu {
    display: none;
    position: absolute;
    bottom: 30px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
  .imgWarp{
      align-content: center;    
      background-color: white;
      align-items: stretch;
      border: none;
  }

  .videoWarp{
    background-color: white;
    border: none;
  }
  .videoWarp:hover{
    background-color:#ebebeb;
    border-radius: 25px;
    padding:2px;
  }

  .imgWarp:hover{
    background-color:#ebebeb;
    border-radius: 25px;
    padding:2px;
  }
  /* Show the dropup menu on hover */
  .btn-group:hover .dropdown-menu {
    display:block;
    

  }
  
  /* Change the background color of the dropup button when the dropup content is shown */
  .btn-group:hover .dropbtn {
    background-color:#b9b3ae;
  }



/*
 <p>
     <button type="button" onClick={recordFunc} id="record">Record</button>
        <button type="button" id="stopRecord" disabled>Stop</button>
</p>
<p>
    <audio id="recordedAudio"></audio></p>*/
