* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #303030;
    font-family: 'Source Sans Pro', sans-serif;
}

.chat-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start, center;
    align-content: flex-start; 
    overflow: hidden;
    height: 100vh;
     width: 100vw;
    /* min-width: calc(80vw-200px) ; */
    padding: 19px;
    padding-left: 60px;
    padding-right: 60px; 
    
}

.chat-block {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
    width: 1396px; 
    background: white;
    /* width: 100%; */
    min-width: 850px;
    min-height: 300px;
    margin: 0 auto;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    
}

.chat-header-right {
    align-items: center;
    align-self: center;
    margin-left: 25px;
}

.chat-header-right i {
    display: inline;
    font-size: 1.2rem;
    height: 100;
    width: 100;
    opacity: 0.4;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    min-width: 320px;
}

.header {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content:baseline;
    width: 100%;
    height: 50px;
    background-color: #f0f2f5;
    padding: 10px 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-avatar {
    position: relative;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex: 1;
}

.sidebar-chats {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-chat {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px;
    width: 100%;
}

.sidebar-chat:hover {
    background-color: #f5f5f5;

}


.chat-info {
    margin-left: 15px;
    flex: 8;
    justify-content: center;
    justify-items: center;
}

.chat-info p {
    font-size: 13px;
    line-height: 20px;
    color: gray;

}

.time {
    flex: 1;
    align-self: auto;
}

.time p {
    white-space: nowrap;
    font-size: 13px;
    margin-top: -16px;
    color: gray;

}

/* Message Content*/
.message-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    min-width: 500px;
}

.chat-title {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    margin: 0;
}

.message-header-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 77%;
    padding-left: 10px;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 900;
}

p {
    font-size: 13px;
    color: gray;
    margin-top: 0;
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #b9b3ae;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img,
.chat-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-content {
    display: flex;
    flex-direction: column;
    flex: 5.17;
    background-image: url(Background.jpg);
    background-position: center;
    padding: 20px 80px;
    overflow-y: scroll;
}

.chat-message {
    font-size: 14px;
    padding: 8px 10px;
    width: fit-content;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 30px;
    word-break: break-word;

}

.chat-sent {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat-timestamp {
    margin-left: 10px;
    font-size: 10px;
    color: grey;
}
/* message footer */
.message-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
    padding: 10px 10px;
    background-color: #f0f2f5;

}

.message-footer i {
    opacity: 0.6;
    font-size: 1.2rem;
    padding: 5px;
}


.sender {
    border: none;
    background-color: white;
}

.sender:active {
    background-color: #ebebeb;
    border-radius: 25px;
}



.message-footer input {
    flex-grow: 20;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.addingVideo {
    display: none;


}

/* Dropup Button */
.dropbtn {
    color: #f0f2f5;
    background-color: #f0f2f5;
    border: none;
}

/* The container <div> - needed to position the dropup content */
.btn-group {
    position: relative;
    display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropdown-menu {
    display: none;
    position: absolute;
    bottom: 30px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.imgWarp {
    align-content: center;
    background-color: white;
    align-items: stretch;
    border: none;
    background-color: transparent;
}

.videoWarp {
    background-color: white;
    background-color: transparent;
    border: none;
}


.image-upload i {
    width: 40px;
    height: 40px;
    background-color: #009578;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    opacity: 1;
    margin: 5px;
    margin-left: -5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.video-upload i {
    width: 40px;
    height: 40px;
    background-color: #ff1493;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    opacity: 1;
    margin: 5px;
    margin-left: -5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

/* Show the dropup menu on hover */
.btn-group:hover .dropdown-menu {
    background-color: transparent;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
    border: none;
}

/* Change the background color of the dropup button when the dropup content is shown */
.btn-group:hover .dropbtn {
    background-color: #b9b3ae;
}
.cover{
    object-fit:cover ;
    width: 100%;
    height: 100%;
}