.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-repeat: repeat; */
  }
  
  .very-cool-margin {
    margin-bottom: 10px;
  }
  
  .outterBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    background: floralwhite;
    padding: 20px;
    min-width: 350px;
    min-height: 380px;
    /* width: 32%;
      height: 68%; */
    /* margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 10%;
      left: 33% */
  }
  
  .img_holder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    min-width: 30%;
    border-radius: 100%;
  }
  #input[type="file"]{
    display: none;
  }
  
  .block1 {
    border-radius: 10px;
    /* width: 80%; */
    /* position: absolute;
      top:60%;
      left: 50%; */
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgb(221, 230, 192);
    width: 80%;
    /* flex-grow: 1; */
  }
  
  .btn {
    /* height: 7%;
      width: 20%; */
    /* position: absolute;
      top: 83%;
      left: 50%; */
    border-radius: 7px;
    width:150px;
    font-size: large;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #000;
  }
  
  .register-link {
    /* width: 50%; */
    /* position: absolute;
      top: 93%;
      left: 50%; */
    font-size: large;
  }